extends layout

block content
  if (currentUser)
    a.formTypeButton(href="/comments/new") New comment
  ul.commentsContainer
    each comm in comments
      li.comment
        h2= comm.title
        p= comm.comment
        span.spacedDetails
          span.capitalize= comm.time
          span by #[em.underline= comm.author ? comm.author.username : "Anonymous"]