doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Pssst
  body
    h1 Pssst
    if (currentUser)
      h2 Welcome #{currentUser.username}
    block content