doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Pssst
  body
    header
      a.title(href="/") Pssst
      nav
        if (currentUser)
          a.account(href="/")= currentUser.username
          a(href="/logout") Logout
        else 
          a(href="/login") Login
          a(href="/signup") Sign up
    main
      block content