:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  --colordark: #000505;
  --colordarkmed: #25466c;
  --colordarkshadow: #0005052b;
  --colordarkmedshadow: #0a101824;
  --colormedium: #bfcde0;
  --colorlight: #fefcfd;
  color: var(--colordark);
}

.bold {
  text-decoration: none;
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration: none;
  text-decoration: underline;
}

a,
button,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

body {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  background: var(--colordark);
  color: var(--colorlight);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  gap: 1rem;
}
header a.title {
  margin: 0.5rem 0;
  text-decoration: none;
  font-size: 2rem;
}
header a.title:hover {
  color: var(--colormedium);
}
header nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header nav a {
  padding: 0.5rem 1rem;
  background: #fefcfd;
  text-decoration: none;
  border-radius: 0.2rem;
  color: #000050;
}
header nav a:hover {
  background: var(--colormedium);
}
header a.account {
  background: none;
  color: var(--colorlight);
  text-decoration: underline;
}
header a.account:hover {
  background: none;
  color: var(--colormedium);
}

main {
  width: min(1000px, 100% - 2rem);
  padding: 2rem 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main h1,
main h2,
main h3 {
  margin: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form .inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 3rem;
}
form .inputs input,
form .inputs textarea {
  max-width: 400px;
}
form .inputs textarea {
  resize: vertical;
  min-height: 4ch;
}
form button {
  align-self: start;
  padding: 0.5rem 2rem;
  border: none;
  background: var(--colordark);
  color: var(--colorlight);
  border-radius: 0.2rem;
}
form button:hover {
  background: var(--colormedium);
  color: var(--colordark);
}

.formTypeButton {
  align-self: start;
  padding: 0.5rem 2rem;
  border: none;
  background: var(--colordark);
  color: var(--colorlight);
  border-radius: 0.2rem;
  text-decoration: none;
}
.formTypeButton:hover {
  background: var(--colormedium);
  color: var(--colordark);
}

.commentsContainer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.commentsContainer .comment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  box-shadow: 0px 5px 20px var(--colordarkshadow);
  border-radius: 0.2rem;
  padding: 0.75rem 0.75rem;
}
.commentsContainer .comment h2,
.commentsContainer .comment h3,
.commentsContainer .comment p {
  margin: 0;
}
.commentsContainer .comment h2 {
  font-size: 1.1rem;
}
.commentsContainer .comment .spacedDetails {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.85rem;
}

ul.errors {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
ul.errors li {
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  color: white;
  background: rgb(221, 57, 57);
  width: max-content;
}

.pass {
  background: rgb(70, 70, 148);
  color: var(--colorlight);
  padding: 0.5rem 0.5rem;
  width: max-content;
}

/*# sourceMappingURL=style.css.map */
